<!-- blog/templates/blog/post_detail.html -->
{% extends "blog/base_generic.html" %}

{% block content %}
<h2>{{ post.title }}</h2>

{% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}">
{% endif %}

<p>{{ post.content }}</p>
<p>By {{ post.author.username }}</p>

<h3>Comments</h3>
<ul>
    {% for comment in post.comments.all %}
        <li>{{ comment.content }} - {{ comment.user.username }}</li>
    {% endfor %}
</ul>

<h3>Likes and Dislikes</h3>
<p>Likes: {{ likes_count }}</p>
<p>Dislikes: {{ dislikes_count }}</p>

<a href="{% url 'add_comment' post.pk %}">Add Comment</a>
<a href="{% url 'like_post' post.pk %}">Like</a>
<a href="{% url 'dislike_post' post.pk %}">Dislike</a>
{% endblock %}
